<html>
    <head>
        <link rel="shortcut icon" href="//www.bighopsgrowlerstation.com/img/favicon.ico">
        <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style> input.entry { width: 50%; }; </style>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form class="form-horizontal" action="" method="post" name="entry">
            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-10">
                    <input class="form-control entry" type="text" name="username" placeholder="Enter Username">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input class="form-control entry" type="password" name="password" placeholder="Enter Password">
                </div>
            </div>
            <div class="submit">
                <label class="col-sm-2 control-label">
                    <button value="Entry" type="submit" class="btn btn-default">Submit</button>
                </label>
            </div>
        </form>
    </body>
</html>
